* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2f004f;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  position: relative;
  height: 100vh;
}
#drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c191a1;
}
.drum-container {
  display: flex;
  flex-wrap: wrap;
}
.drum-pad {
  font-size: 3rem;
  flex: 25%;
  border: none;
  padding: 1rem 1.5rem;
  margin: 8px;
  border-radius: 0.4rem;
  background-color: #a4508b;
  color: white;
}

#display {
  height: 3rem;
  text-align: center;
  color: white;
}
